:root {
    --background-color: #04a99e;
}

.App {
    text-align: center;
}

.App-header {
    background-color: var(--background-color);
    min-height: 70px;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
}

.App-title {
    font-size: 2rem;
}

.App-intro {
    font-size: large;
}

.nextButtonDiv {
    float: right;
    margin: 10rem;
}

.nextButton {
    padding: 1rem;
    color: var(--background-color);
}

/* input {
} */
